* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
1. Ngoai vao trong
2. Tu tren xuong
*/
/*
1. Vi tri 
2. kich thuoc(chieu rong, chieu cao)
3. mau sac
4. kieu dang(kieu chu, hinh tron, vuong,...)
*/
 
/* Common */
html{
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color:white !important;
}

.text-center{
    text-align: center;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear:both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}

.col-third{
    width: 33.333333%;
}

.btn {
    text-align: center;
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 11px 16px;
    margin-bottom: 16px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.pull-right{
    float: right !important;
}
/* Main */

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

#nav {
    display: inline-block;
    /* GHi nhan id nav chi dai bang do dai cua no */
}

#nav ul{
    list-style-type: none;
    /* Khong hien type list */
}

#nav > li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    color: #fff;
}
#nav li a {
    line-height: 46px;
    padding: 0 24px;
    display: block;
    text-decoration: none;
    /*Con phan viet hoa*/
}

#nav li:hover a,
.subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: inline-block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* dựa trên thẻ li cha, cách top 100% height thẻ cha
    cách lề trái 0 */
    /* THiết lập box trắng */
    line-height: 38px;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 30%);
    /* hover cung với nav li */
    /*Con phan tha xuong*/
}

.subnav li {
    padding: 0 12px;
}

#nav .nav-down {
    font-size: 13px;
}

#header .search-btn {
    float: right;
    padding: 0 23px;
}

#header .search-btn:hover{
    background-color: red;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    line-height: 46px;
    font-weight: bolder;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/slider/ny.jpg') top center / cover no-repeat;
    z-index: 7;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 32px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

#slider .text-heading{
    margin: 10px 0;
}

#slider .text-des {
    margin: 15px 0;
}

/* Content */

.content-section{
    width: 800px;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.section-heading{
    /* vị trí */
    text-align: center;
    /* kích thước */
    margin: 10px 0;
    font-size: 30px;
    /* kiểu dáng */
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 6px;
}

.section-subhead{
    /* vị trí */
    text-align: center;
    /* kich thuoc */
    margin: 15px 0;
    font-size: 15px;
    /* Kieu dang */
    font-style: italic; 
    opacity: 0.6;
}

.band-content {
    /* vị trí */
    text-align: justify;
    /* kich thuoc */
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list{
    margin-top: 47px;
}

#content .member-name {
    /* vi tri */
    margin: 15px 0;
    /* kich thuoc */
    font-size: 15px;
}

#content .member-avatar{
    width: 154px;
    border-radius: 4px;
}

#content .backgr-tour {
    background-color: #000;
}

.ticket-sell {
    list-style: none;
    background-color: #fff;
    margin-top: 40px;
}

.ticket-sell li {
    /* kich thuoc */
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
}

#content .sold-out {
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

#content .quantity {
    text-align: center;
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    padding: 4px 4px;
    /* margin-right: 16px; */
    margin: -3px 16px;
    border-radius: 50%;
}

#content .section-tourplace{
    margin-top: 32px;
}

#content .tour-imgplace{
    width: 100%;
    display: block;
}

.tour-imgplace:hover{
    opacity: 0.6;
}

#content .tour-placeword{
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

#content .tour-nameplace{
    font-weight: bold;
}

#content .tour-date{
    margin: 15px 0;
    opacity: 0.7;
}

#content .tour-mieuta{
    margin: 15px 0;
    line-height: 1.4;
}
/* Form */
.contact-info{
    font-size: 18px;
    margin-bottom: 16px;
    line-height: 1.6;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-content{
    font-size: 15px;
    margin-top: 47px;
}

.contact-name{
    
}

.contact-form{
    padding: 8px;
    height: 40px;
    border: solid 1px #ccc;
    width: 100%;
}

#content .map img {
    width: 100%;
    filter: grayscale(50%);
}
/* End content */

#footer{
    padding: 64px 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: rgba(55, 52, 48, 0.85);
}

#footer a{
    color: rgba(55, 52, 48, 0.85);
    
}

#footer a:hover{
    opacity: 0.6;
}

.footer-end a{
    /* width: 24px; */
    text-decoration: none;
    font-size: 24px;
    /* ! xem lai */
}

#footer .footer-makeby{
    font-size: 15px;
    margin: 20px 0;
}